/*
body {
    padding-top: 0px;
    padding-bottom: 40px;
    background-size:100%;
    background: url('/xhzn/mfunhcu/l4aqycui/svg/backround.svg');
    background-repeat:no-repeat;
}*/
.logo-header{
    position:relative;
    margin-top:0px;
    height:110px;
}
.logo{
    position:relative;
    top:0px;
    height:100px;
}

.sidebar-nav {
    padding: 9px 0;
}
.leaderboard {
    padding: 60px;
    margin-bottom: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.leaderboard h1 {
    font-size: 40px;
    margin-bottom: 5px;
    line-height: 1;
    letter-spacing: -1px;
    color:#FF6600;
}
.leaderboard p {
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
}

.well {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.baidu-maps-mini{
    min-width:235px;
    min-height:235px;
    max-width: none;
    max-height: none;
    width:100%;
    overflow:visible;
    border:3px inset;
    box-shadow: 10px 10px 5px #888888;
}
.baidu-maps{
    min-width:235px;
    min-height:535px;
    max-width: none;
    max-height: none;
    width:100%;
    overflow:visible;
    border:3px inset;
    box-shadow: 10px 10px 5px #888888;
}
.baidu-maps img {
    max-width: inherit;
    overflow:visible;
}
.baidu-maps label {
    max-width: inherit;
    overflow:visible;
}

.modal-group-half {
    min-width:350px;
    max-width:350px;
    height:28px
}
.modal-group-label {
    min-width:100px;
    min-width:100px;
}
.HR-map{
    filter: alpha(opacity=100,finishopacity=0,style=3);
    width:80% ;
    color:#987cb9 ;
}

.Alarm_Canvas{
    min-width: 100%;
    min-height:335px;
    max-width: 100%;
    max-height:none;
}
.desktop{
    min-width:200px;
    min-height:200px;
    width: 100%;
    height: 100%;
    background-size:100%;
    /*background-image: url('/xhzn/mfunhcu/l4aqycui/image/leaf_back2.jpg');*/
    background-image: url('/xhzn/mfunhcu/l4aqycui/svg/backround.svg');
    background-repeat:no-repeat;
}
.undefined{
    min-width:200px;
    min-height:200px;
    width: 100%;
    height: 100%;
    background-size:auto 100%;
    background-image: url('/xhzn/mfunhcu/l4aqycui/image/tree.jpg');
    background-repeat:no-repeat;
    background-position:center;
}
.bodystyle{
    margin-left:0px;
    margin-right:0px;
    margin:auto;
    width:95%
}

.li_menu{
    cursor:pointer;
}


/** Contacts **/
.profile_details:nth-child(3n) {
    clear: both; }

.profile_details .profile_view {
    display: inline-block;
    padding: 10px 0 0;
    background: #fff; }

.profile_details .profile_view .divider {
    border-top: 1px solid #e5e5e5;
    padding-top: 5px;
    margin-top: 5px; }

.profile_details .profile_view .ratings {
    margin-bottom: 0; }

.profile_details .profile_view .bottom {
    background: #F2F5F7;
    padding: 9px 0;
    border-top: 1px solid #E6E9ED; }

.profile_details .profile_view .left {
    margin-top: 20px; }

.profile_details .profile_view .left p {
    margin-bottom: 3px; }

.profile_details .profile_view .right {
    margin-top: 0px;
    padding: 10px; }

.profile_details .profile_view .img-circle {
    border: 1px solid #E6E9ED;
    padding: 2px; }

.profile_details .profile_view h2 {
    margin: 5px 0; }

.profile_details .profile_view .ratings {
    text-align: left;
    font-size: 16px; }

.profile_details .profile_view .brief {
    margin: 0;
    font-weight: 300; }

.profile_details .profile_left {
    background: white; }



.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease; }

.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px; }

.x_title .filter {
    width: 40%;
    float: right; }

.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }

.x_title h2 small {
    margin-left: 10px; }

.x_title span {
    color: #BDBDBD; }

.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px; }

.x_content h4 {
    font-size: 16px;
    font-weight: 500; }

.no-boarder{
    boarder: 1px solid transparent !important,
}
