body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-size:100%;
    background-image: url('/image/login.png');
    background-repeat:no-repeat;
}
.nav li {
    padding-top: 5px;
}

.sidebar-nav {
    padding: 9px 0;
}
.leaderboard {
    padding: 60px;
    margin-bottom: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    max-width:512px;

    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.leaderboard h1 {
    font-size: 40px;
    margin-bottom: 5px;
    line-height: 1;
    letter-spacing: -1px;
    color:#FF6600;
}
.leaderboard p {
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
}

.well {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.nav .nav-header {
    font-size: 18px;
    color:#FF9900;
}